.projects-title {
  position: relative;
  color: transparent;
  z-index: 1;
  display: inline-block;
  font-size: 45px;
  font-weight: lighter;
  animation: remove-blur-on-reveal 2.5s ease-in-out 250ms  forwards;
}

.projects-title::before {
  content: "";
  width: 100%;
  height: 60px;
  background-image: transparent;
  /* opacity: 0; */
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(0);
  animation: reveal-projects-title 2.750s ease-in-out 250ms forwards;
}

.github-stats {
  max-width: fit-content;
  overflow: hidden;
  animation: reveal-stats 2s ease-in-out 1s forwards;
  height: 0;
  text-align: center;
  font-weight: 100;
}

@keyframes reveal-stats {
  0% {
    border-bottom: .25rem solid var(--whitey);
    width: 0px;
    height: 0px;
  }

  30% {
    border-bottom: .25rem solid var(--clearOrangeish);
    width: 100%;
    height: 0px;
  }
  60% {
    border-bottom: .25rem solid var(--orangeish);
    width: 100%;
    height: 3.5rem;
  }

  80% {
    font-weight: 400;

    border-bottom: .25rem solid var(--darkPurpleBlue);
    width: 100%;
    height: 3.5rem;
  }

  100% {
    font-weight: 400;
    border-bottom: transparent;
    width: 100%;
    height: 3.5rem;
  }
}


@keyframes remove-blur-on-reveal  {
  0% {
    color: var(--darkPurpleBlue);

  }

  25% {
    color: var(--darkPurpleBlue);

  }

  50% {
    color: var(--lilac)  
  }

  51% {

    color: var(--lilac)  
  } 
  60% { 

    color: var(--lilac)  
  }

  80% { 
  
    font-weight: 400;
    color: var(--lilac)  
  }

  100% { 
    font-weight: 400;

    color: var(--clearOrangeish)  
  }
}

@keyframes reveal-projects-title {
  0% {
    width: 100%;
    z-index: 1; 
    background-color: var(--darkPurpleBlue);
  }

  25% {
    z-index: 1;  
    background-color: var(--purpleBlue);

  }

  50% {
    z-index: 1;  
    width: 0%;
    background-color: var(--darkLilac);

  }

  51% {
    width: 0%;
    z-index: -1; 
    background-color: var(--lilac);

  }

  61% {
    width: 0%;
    z-index: -1; 
    background-color: var(--orangeish);

  }
 
  100% {
    width: 100%;
    z-index: -1;
    background-color: transparent;

  }
}

