.projects {
  perspective: 600px;
  /* background-color: black; */
  max-width: 50%;
}

.project {
  background-image: linear-gradient(45deg, var(--bgGradientBlack), var(--bgGradientPurple));
  font-size: 3vw;
  font-weight: 400;
  line-height: 6vw;
  color: white;
  text-align: right;
  transform-origin: right;
  transform: rotateY(-40deg);
  transition-duration: .4s;
  padding: 0.25rem;
}

.project:hover {
  font-weight: lighter;
  transform-style: flat;
  cursor: pointer;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  transform: rotateY(-28deg)
}