.projects-title {
  position: relative;
  color: transparent;
  z-index: 1;
  display: inline-block;
  font-size: 45px;
  font-weight: lighter;
  animation: remove-blur-on-reveal 2.5s ease-in-out 250ms  forwards;
}

.projects-title::before {
  content: "";
  width: 100%;
  height: 60px;
  background-color: var(--purpleBlue);
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(0);
  animation: reveal-projects-title 2.750s ease-in-out 250ms forwards;
}

@keyframes remove-blur-on-reveal  {
  0% {
    color: var(--darkPurpleBlue);

  }

  25% {
    color: var(--darkPurpleBlue);

  }

  50% {
    color: var(--lilac)  
  }

  51% {

    color: var(--lilac)  
  } 
  60% { 

    color: var(--lilac)  
  }

  80% { 
  
    font-weight: 400;
    color: var(--lilac)  
  }

  100% { 
    font-weight: 400;

    color: var(--clearOrangeish)  
  }
}

@keyframes reveal-projects-title {
  0% {
    width: 100%;
    z-index: 1; 
    background-image: linear-gradient(45deg, var(--purpleBlue) 50%, var(--orangeish) 10%);
  }

  25% {
    z-index: 1;  
  }
  50% {
    z-index: 1;  
    width: 0%;

  }

  51% {
    width: 0%;
    z-index: -1; 

  }
 
  100% {
    width: 100%;
    z-index: -1;   
    background-image: transparent;

  }
}

