@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .inner-content-footer {
    @apply px-[15vw] pt-20 pb-20 flex flex-col gap-7;
  }

  .main-content-footer {
    @apply flex flex-col gap-3.5  
  }
    
  .footer-link-list-container {
    @apply flex flex-col gap-3;
  }

  .footer-link-list-item {
    @apply flex items-center gap-2 text-grayish;
  }
}

.list-title-shadow {
  position: relative;
  z-index: 14;
  color: var(--grayish);
  animation: switch-color-to-yel 1s ease-in-out 500ms forwards
}

.list-title-shadow::before {
  content: attr(data-title);
  position: absolute;
  left: 0;
  color: var(--yel100);
  font-family: "Kumar One Outline";
  animation: move-shadow-left 1s ease-in-out 500ms forwards;
  z-index: 13
}

@keyframes move-shadow-left {
  to {
    opacity: 0.6;
    left: -0.12rem;
    color: var(--grayish)
  }
}

@media (min-width: 1024px) {
  .inner-content-footer {
    @apply px-[5vw] pt-20 pb-10;
  }
    
  .footer-link-list-container {
    @apply flex flex-col gap-3;
  }
  .main-content-footer {
    @apply flex flex-row justify-between
  }
}