/* .about-container {
  position: relative;
}

.about-title {
  position: relative;
  font-size: 4rem;
  color: var(--purpleBlue);
  -webkit-text-stroke: 0.3vw var(--clearOrangeish);
}

.about-title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left:0;
  width: 0;
  height: 100%;
  color: var(--clearOrangeish);
  border-right: .25rem solid var(--orangeish);
  overflow: hidden;
  animation: about-show 2.5s linear 500ms forwards, fade-bar 1s ease-in 2s forwards;
  /* opacity: .5; */
/* }

@keyframes about-show {
  to {
    width: 33%;
    opacity: 1;
  }
}

@keyframes fade-bar {
  to {
    border-right-color: transparent;
  }
} */ 


.about-container {
  gap: 2rem;
  padding: .5rem;
   display: flex;
  flex-direction: column;
  background-color: #ddd;
  align-items: center;
  justify-content: center;
}

.outer-heading {
  height: 50px;
  display: flex;
  flex-direction: column;
}

.inner-heading {
  line-height: 50px;
  border: 0px solid #ddd;
  font-size: 45px;
  overflow: hidden;
  height: 50px;
  font-weight: lighter;
}

.inner-heading h2 {
  position: relative;
  animation: heading-up 1.5s ease-in-out 500ms forwards;
  left: 10px;

  color: var(--lilac);
}

.about-container article {
  font-weight: 100;

}

@keyframes heading-up {
  0% {
    top: 0px;
    left: 10px;
    opacity: .25;
  }
  100% {
    color: var(--clearOrangeish);
    top: -50px;
    font-weight: 400;
    left: 0;
    opacity: 1;
  }
}



