@keyframes show-texts {
  to {
    opacity: 1;
    filter: blur(0)
  }
}

.animate-heading-up {
  animation: heading-up 1.750s ease forwards;
}

.about-article {
  font-weight: 500;
  animation: about-article 1.5s linear 500ms forwards;
  color: var(--purpleBlue);
  letter-spacing: .2px;
}

.about-headers {
  color: var(--whitey);
}

@keyframes about-article {
  to {
    color: var(--whitey);
    font-weight: 100;
    letter-spacing: 0;
  }
}

