.farewell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;

  .hidden-down-character {
    transform: translateX(-180%);
  }

  .hidden-left-farewell-title {
    transform: translateX(-25%);
  }

  .hidden-right-farewell-paragraph {
    transform: translateX(25%);
  }
}

@media (min-width: 1024px) {
  .farewell {
    flex-direction: row;
    justify-content: space-around;
    gap: 0;

    .hidden-down-character {
      transform: translateX(-100%);
    }
  }
}