.projects-explanation-message {
  transform: translateY(110%);
  opacity: 0;
  filter: blur(1rem);
  animation: fade-in-project-about 1.5s ease-in-out 0.25s forwards, swipe-origin-x-animation 1.5s ease-in-out 0.25s forwards, remove-blur 2s ease-in-out 0.25s forwards;
}