.arrow-shown {
  animation: bounce 1s ease 6s infinite alternate, switch-color-to-yel 1s ease  6s infinite alternate;
 -webkit-animation: bounce 1s ease 6s infinite alternate, switch-color-to-yel 1s ease 6s  infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    
    transform: translateY(-15px);

  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

