.about-texts-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  justify-self: center;
  height: 90%;
}

.about-text:nth-child(2) {
  transition-delay: 300ms;
}

.about-text:nth-child(3) {
  transition-delay: 600ms;
}

.hidden-texts {
  transform: translateX(-100%);
}

.shown-texts {
  transform: translateX(0);
}

@media (min-width: 1024px) {
  .about-texts-container {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 3rem;
    height: 100%;
  }

  .hidden-texts {
    transform: translateY(250px);
  }

  .about-text {
    width: 33.33%;
  }

  .shown-texts {
    transform: translateY(0);
  }
}
