.intro {
  overflow: hidden;
  color: var(--palPurple100);
}

/* .text-intro {
  font-weight: 400;
} */

.mini-about {
  color: var(--palOrange100);
  font-size: 1rem;
  animation: mini-about-color-change 2s ease-in-out 500ms forwards;
  font-weight: 600;
}

@keyframes mini-about-color-change {
  to {
    color: var(--grayish);
    font-weight: 100;
  }
}

.greeting-container  {
  position: relative;
  height: max-content;
  transform: perspective(1000px) translateZ(48rem);
  opacity: 0;
  animation: greeting-three-dee 1.5s ease-in-out var(--generalDelay) forwards;
}

/* .greeting-container p:nth-child(2) { */
  /* text-wrap: nowrap; */
  /* font-size: 1.36rem;
  font-weight: 600;
  color: var(--lilac);
  letter-spacing: 0.10rem;
  filter: blur(0.625rem);
  animation: job-text-decoration 2s ease-in-out var(--generalDelay) forwards;
} */

.greeting-container h2 {
  position: relative;
}

.greeting-container h2::after {
  content: "";
  width: 0;
  height: 0.25rem;
  background-image: linear-gradient(235deg, var(--palOrange100) 10%, var(--palPurple500) 80%);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: job-description-underline-grow 4s ease-in-out var(--generalDelay) forwards;
  opacity: 1;
}

@keyframes job-description-underline-grow {
  to {
    filter: blur(0.005rem);
    width: 100%;
    opacity: 0;
  }
}

@keyframes job-description-underline-shrink {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes job-text-decoration {
  to {
    letter-spacing: 0;
    font-weight: 200;
    color: var(--palOrange100);
    filter: blur(0);
  }
}

/* .greeting-image {
  position: relative;
  padding: 2.5rem;
}

.greeting-image figure {
  margin: 0;
  z-index: 1;
  width: 15rem;
  height: 15rem;
  position: relative;
  border: 0.115rem solid var(--clearOrangeish);
  opacity: 0;
  animation: show-image 2.5s ease-out 750ms forwards;
}

.greeting-image .photograph {
  width: 15rem;
  height: 15rem;
  margin-top: 0;
  margin-left: 0;
  filter: blur(.125rem) saturate(0);
  opacity: 0;
  animation: show-image 2.5s ease-in 500ms forwards;
}

@keyframes show-image {
  to {
    width: 20rem;
    height: 20rem;
    margin-top: -25px;
    margin-left: -25px;
    filter: none;
    opacity: 1;
    border-radius: 10%;
    border-color: var(--whitey)
  }
} */

@keyframes greeting-three-dee {
  to {
    color: black;
    transform: none;
    opacity: 1;
    filter: blur(0);
  }
}

@media (min-width: 1024px) {
  /* .greeting-image figure {
    width: 20rem;
    height: 20rem;
  }
  
  .greeting-image .photograph {
    width: 20rem;
    height: 20rem;
  } */
  .greeting-container h1:nth-child(2) {
    font-size: 4rem;
  }

  .circle-pattern {
    width: 32rem;
    height: 32rem;
  }
}

  /* border-inline-end: 2px solid;
  border-block-end: 2px solid;
  border-image-source: radial-gradient(circle at bottom right, transparent 15%, var(--lilac) 50% , var(--orangeish) 45%);
  border-image-slice: 1; */

 /* border-inline-start: 2px solid;
  border-block-start: 2px solid;
  padding: 2rem;
  border-image-source: radial-gradient(ellipse at bottom left, transparent 55%, var(--lilac) 5% , var(--clearOrangeish) 60%);
  border-image-slice: 1; */