@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-header {
  padding: 1rem;
  position: sticky;
  top: 0px;
  color: var(--grayish);
  backdrop-filter: blur(8px);
  opacity: 0;
  animation: fade-in 1s ease-in-out 2s forwards;
}

.glow-item:hover {
  transition: all 600ms cubic-bezier(.09,.26,.24,.79);
}

.navigation-links-container {
  visibility: hidden;
  display: none;
}

@media (min-width: 1024px) {
  .navigation-links-container {
    visibility: initial;
    color: var(--grayish);
    display: flex;
    gap: 1.25rem;
    animation: switch-color-to-yel 1.75s ease-in-out 3s forwards;
    font-size: 1.25rem;
  }

  .navigation-link {
    position: relative;
    z-index: 15;
    transition: color 500ms ease;
  }

  .navigation-link:hover {
    color: var(--grayish);
  }

  .navigation-link::before {
    content: attr(data-title);
    position: absolute;
    font-family: "Kumar One Outline";
    z-index: 14;
    color: var(--yel100);
    transform: translateX(-0.12rem);
    transition: transform 500ms ease;
  }

  .navigation-link:hover::before {
    transform: translateX(0.12rem);
    color: var(--grayish) 
  }
}