:root {
  --bgGradientBlack: #00061d;
  --bgGradientPurple: #1d40d8;
  --typewriterSpeed: 4s;
  --introAnimationDelay: 8s
}

body {
  font-family: "Unbounded", sans-serif;
  background: linear-gradient(270deg, var(--bgGradientBlack) 0%, var(--bgGradientPurple) 100%);
  margin: 0px;
  padding: 0px;
  height: 100vh;
  box-sizing: border-box;
}