:root {
  --bgGradientBlack: #00061d;
  --bgGradientPurple: #1d40d8;
  --typewriterSpeed: 4s;
  --introAnimationDelay: 8s;
  --purpleBlue: #27187e;
  --darkLilac: #758bfd;
  --lilac: #aeb8fe;
  --whitey: #f1f2f6;
  --orangeish: #ff8600;
  --clearOrangeish: #fb8500;
  --generalDelay: 500ms;

}

body {
  font-family: "Unbounded", sans-serif;
  color: var(--whitey);
  background: linear-gradient(65deg, var(--purpleBlue) 50%, var(--darkLilac) 100%);
  margin: 0px;
  padding: 0px;
  height: 100vh;
  box-sizing: border-box;
}
