@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Kumar+One+Outline&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --generalDelay: 500ms;
  --introAnimationDelay: 8s;
  --purpleBlue: #27187e;
  --darkPurpleBlue: #21146f;
  --darkLilac: #758bfd;
  --lilac: #aeb8fe;
  --whitey: #f1f2f6;
  --orangeish: #ff8600;
  --clearOrangeish: #fb8500;
  --palOrange100: #ff9e00;
  --palOrange200: #ff9100;
  --palOrange300: #FF8500;
  --palOrange400: #FF7900;
  --palOrange500: #FF6D00;
  --palPurple100: #9D4EDD;
  --palPurple200: #7B2CBF;
  --palPurple300: #5A189A;
  --palPurple400: #47126b;
  --palPurple500: #3C096C;
  --palPurple600: #240046;
  --palPurple700: #311847;
  --palPurple800: #571089;
  
  /* fbi color pallete" */
  --blu100: #003566;
  --blu200: #001d3d;
  --blu300: #000814;
  --yel100: #ffd60a;
  --yel200: #ffc300;
  --grayish: #e5e5e5;
}

body {
  font-family: "Arimo", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  color: var(--grayish);
  position: relative;
  background-color: var(--blu100);
}

body::-webkit-scrollbar {
  display: none;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
} 

section .section-title {
  font-size: 2.25rem;
}

.hide {
  opacity: 0;
  filter: blur(.5rem);
  transition: all 1s linear;
  visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: bottom;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: all 1.5s linear;
  transform-style: preserve-3d;
  transform-origin: bottom;
}

.outer-heading {
  height: 55px;
  display: flex;
  flex-direction: column;
}

.inner-heading {
  line-height: 50px;
  overflow: hidden;
  height: 50px;
}

.inner-heading p {
  position: relative;
  color: var(--grayish);
}

@keyframes switch-color-to-yel {
  0% {
    color: var(--grayish);
  }
  50% {
    color: var(--grayish);
  }
  100% {
    color: var(--yel200);
  }
}

@keyframes switch-color-to-grayish {
  0% {
    color: var(--yel200);
  }
  50% {
    color: var(--yel200);
  }
  100% {
    color: var(--grayish);
  }
}

@keyframes general-fade-in {
  from { 
    opacity: 0
  }
  to {
    opacity: 1;
  }
}

@keyframes general-fade-out {
  from { 
    opacity: 1
  }
  to {
    opacity: 0;
  }
}

@keyframes heading-up {
  0% {
    top: 0px;
  }
  50% {
    color: var(--yel100);
  }
  100% {
    color: var(--yel200);
    top: -40px;
    opacity: 1;
  }
}