@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Kumar+One&family=Kumar+One+Outline&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --generalDelay: 500ms;
  --introAnimationDelay: 8s;
  --purpleBlue: #27187e;
  --darkPurpleBlue: #21146f;
  --darkLilac: #758bfd;
  --lilac: #aeb8fe;
  --whitey: #f1f2f6;
  --orangeish: #ff8600;
  --clearOrangeish: #fb8500;
  --palOrange100: #ff9e00;
  --palOrange200: #ff9100;
  --palOrange300: #FF8500;
  --palOrange400: #FF7900;
  --palOrange500: #FF6D00;
  --palPurple100: #9D4EDD;
  --palPurple200: #7B2CBF;
  --palPurple300: #5A189A;
  --palPurple400: #47126b;
  --palPurple500: #3C096C;
  --palPurple600: #240046;
  --palPurple700: #311847;
  --palPurple800: #571089;
  
  /* fbi color pallete" */
  --blu100: #003566;
  --blu200: #001d3d;
  --blu300: #000814;
  --yel100: #ffd60a;
  --yel200: #ffc300;
  --grayish: #e5e5e5;
}

body {
  font-family: "Raleway", sans-serif, system-ui;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  color: var(--grayish);
  position: relative;
  background-color: var(--blu100);
}

body::-webkit-scrollbar {
  display: none;
}

section {
  /* min-height: 100svh; */
} 

section .section-title {
  font-size: 1.875rem;
}

.hidden-content {
  opacity: 0;
  filter: blur(4px);
}

.show-content {
  opacity: 1;
  filter: blur(0);
  transition: opacity 1.5s ease-in-out, filter 1.5s ease-in-out, transform 1.75s ease
}

.title {
  color: var(--grayish);
  animation: switch-color-to-yel 0.75s ease-in-out 1.75s forwards;
}

.about-article {
  animation: switch-color-to-grayish 1.5s ease-in-out 1.75s forwards;
  color: var(--yel200);
}

.about-article b {
  color: var(--grayish);
  animation: switch-color-to-yel 1.5s ease-in-out 1.75s forwards;
}

.outer-heading {
  height: 55px;
  display: flex;
  flex-direction: column;
}

.inner-heading {
  line-height: 50px;
  overflow: hidden;
  height: 55px;
}

.inner-heading h2 {
  position: relative;
  top: 0;
  color: var(--grayish);
  letter-spacing: .5rem
}

.animate-heading-up {
  animation: heading-up 1.75s ease-in-out forwards, reduce-letter-spacing 2s ease-in-out forwards; 
}

.hidden-left-x {
  transform: translateX(-100%);
}

.hidden-right-x {
  transform: translateX(100%);
}

.swipe-origin-x {
  transform: translateX(0);
}

.swipe-origin-y {
  transform: translateY(0);
}

.scroll-watcher {
  height: 1px;
  position: fixed;
  top: 0;
  z-index: 11;
  background-color: var(--yel200);
  width: 100%;
  scale: 0 1;
  animation: scroll-watcher-animation linear;
  animation-timeline: scroll();
  transform-origin: left;
}

@keyframes switch-color-to-yel {
  0% {
    color: var(--grayish);
  }
  50% {
    color: var(--grayish);
  }
  100% {
    color: var(--yel100);
  }
}

@keyframes switch-color-to-grayish {
  0% {
    color: var(--yel100);
  }
  50% {
    color: var(--yel100);
  }
  100% {
    color: var(--grayish);
  }
}
  
@keyframes general-fade-out {
  from { 
    opacity: 1
  }
  to {
    opacity: 0;
  }
}

@keyframes heading-up {
  to {
    color: var(--yel200);
    top: -50px;
  }
}

@keyframes scroll-watcher-animation {
  to {
    scale: 1 1;
  }
}

@keyframes reduce-letter-spacing {
  to {
    letter-spacing: normal
  }
}

@keyframes fade-in {
  to {
    opacity: 1
  }
}

@media (min-width: 1024px) {
  section .section-title {
    font-size: 2.75rem;
  }

  .outer-heading {
    height: 5rem;
  }

  .inner-heading {
    line-height: 4rem;
    overflow: hidden;
    height: 4.75rem;
  }
  
}