.project-title {
  position: relative;
  color: var(--grayish);
  text-decoration: underline;
  text-decoration-color: var(--yel200);
  animation: switch-color-to-yel 1s ease-in-out 500ms forwards,
  switch-underline-color-to-grayish 1s ease-in-out 500ms forwards
}

.project-title::before {
  content: attr(data-title);
  font-family: "Kumar One Outline";;
  position: absolute;
  left: 0;
  animation: shadow-move 1s ease-in-out 500ms forwards
}

@keyframes shadow-move {
  to {
    opacity: 0.6;
    left: -0.16rem;
    color: var(--grayish)
  }
}

@keyframes switch-underline-color-to-grayish {
  to {
    text-decoration-color: var(--grayish);
  }
}